* {
	background-color: #171717;
	

}
.contetn {

	width: 1440px;
	height: 100vh;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #171717;
	font-family: 'Open Sans', sans-serif;

}


.span-background {

	display: block;
	background: none;

}

.span-background-2 {

	display: block;
	background: none;
	margin: 44px 0px 0px 48px;
	
}

.special { 

	margin: 0px 48px;
	font-size: 20px;
	font-weight: 700;

}
	
 .header-element {

	display: flex;
	justify-content: space-between;
	margin: 46px auto;
 }

 .call-back-block {

	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	font-style: normal;

 }

.tel {

	text-decoration: none;
	margin: auto 39px;
}

.phone-1 {

	color: #D6AF76;

}

.phone-2 {

	color: #FFFFFF;

}

.call-back {

	padding: 10px 25px;
	border: 1px solid #E4B564;

}

.link-button {

	text-decoration: none;
	color: #E4B564;

}

.text-1 {

	font-size: 50px;
	color: #FFFFFF;
	font-weight: 700;
	margin: 128px 0px 0px ;
	
}

.text-2 {

	width: 1182px;
	display: flex;
	font-size: 20px;
	line-height: 28px;
	margin: 41px 0px;
	font-weight: 700;
	color: #FFFFFF;
}



.container-1 {

	display: grid;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	grid-template-rows: 468px 468px;
	grid-gap: 30px;
	font-weight: 700;
	font-size: 20px;
	color: #FFFFFF;
	grid-template-areas: 
		"element-1 element-2 element-2 element-3"
		"element-4 element-4 element-5 element-5";
						
	
}


.container-1-element-1 {

	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: element-1;
	background-color: #634F2C;
		
}

.container-1-element-2 {

	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: element-2;
	background-color: #B4A385;
	text-align: center;

}

.container-1-element-3 {

	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: element-3;
	background-color: #E4B564;
	
}

.container-1-element-4 {

	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: element-4;
	background-color: #635A4A;
	
}

.container-1-element-5 {

	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: element-5;
	background-color: #B08C4D;
	
}

.text-3 {

	margin: 161px 0px 94px 0px;
	color: #FFFFFF;
	font-size: 50px;
	font-weight: 700;

}
.container-2 {

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 128px);
	grid-gap: 30px;
	font-weight: 500;
	font-size: 20px;
	color: #FFFFFF;
	grid-template-areas:
		"element-1 element-2 element-3"
		"element-1 element-2 element-3"
		"element-4 element-2 element-6"
		"element-4 element-5 element-6"
		"element-4 element-5 element-7"
		"element-4 element-5 element-7";

}

.container-2-element-1 {

	grid-area: element-1;
	background-color: #0E0E0E;
	
}

.test  {

	background: none;

}

.container-2-element-2 {
	
	grid-area: element-2;
	background-color: #242424;
	
}

.container-2-element-3 {
	
	grid-area: element-3;
	background-color: #1F1F1F;

}

.container-2-element-4 {
	
	grid-area: element-4;
	background-color: #1F1F1F;
	

}

.container-2-element-5 {
	
	grid-area: element-5;
	background-color: #E4B564;
	color: #0A0909;

}

.container-2-element-6 {
	
	grid-area: element-6;
	background-color: #000000;
	

}

.container-2-element-7 {
	
	grid-area: element-7;
	background-color: #0A0909;

}

.bottom-menu {

	display: flex;
	justify-content: space-between;
	margin: 161px 0px 94px 0px;
	
}

.text-4 {

	display: block;
	color: #FFFFFF;
	font-size: 50px;
	font-weight: 700;

}

.link-button-2 {

	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	font-style: normal;
	
}

.all-projects {
	
	text-decoration: none;
	color: #E4B564;
	border: 1px solid #E4B564;
	padding: 10px 40px;

}

.container-3 {

	display: grid;
	grid-template-columns:  1fr 1fr 1fr;
	grid-template-rows: 391px 391px;
	font-weight: 700;
	font-size: 20px;
	color: #FFFFFF;
	grid-template-areas: 
		"element-1 element-2 element-3"
		"element-4 element-5 element-6";


}

.container-3-element-1 {

	grid-area: element-1;
	background: #634F2C;
	
	
}

.container-3-element-2 {

	grid-area: element-2;
	background: rgba(232, 210, 171, 0.76);
	flex-direction: column;

}


.container-3-element-3 {

	grid-area: element-3;
	background: #E4B564;
	
}

.container-3-element-4 {

	grid-area: element-4;
	background: #635A4A;
	

}

.container-3-element-5 {

	grid-area: element-5;
	background: #B08C4D; 
	
}

.container-3-element-6 {
	
	grid-area: element-6;
	background: #634F2C;
	
}


.item {

	display: flex;
	justify-content: center;
	align-items: center;
	
}
.img {

	background: none;
}
